body {
  width: 100%;
}

.container {
  text-align: center;
  /* colo: rgba(65, 100, 80, 0.5); */
  padding: 10px;
}

.header {
  background-color: rgba(65, 100, 80, 0.5);
  color: white;
  width: 100%;
  height: 200px; /* You must set a specified height */
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  padding: 100px;
}

li {
  list-style-type: none;
}

/* unvisited link */
a:link {
  color: rgba(65, 100, 80, 0.5);
}

/* visited link */
a:visited {
  color: rgba(65, 100, 80, 1);
}

/* mouse over link */
a:hover {
  color: rgba(65, 100, 80, 1);
}

/* selected link */
a:active {
  color: rgba(65, 100, 80, 1);
}

.menu-bar {
  border-style: hidden;
  border-color: rgba(65, 100, 80, 0.5);
  text-align: right;
  padding: 10px;
  font-size: 32px;
}

.imgs {
  display: flex;
  justify-content: center;
}
